<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1_move_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,138},{59,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{59,133}}</string>
                <key>sourceSize</key>
                <string>{75,135}</string>
            </dict>
            <key>hero1_move_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,136},{53,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{53,131}}</string>
                <key>sourceSize</key>
                <string>{75,131}</string>
            </dict>
            <key>hero1_move_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{55,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{55,129}}</string>
                <key>sourceSize</key>
                <string>{75,129}</string>
            </dict>
            <key>hero1_move_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,134},{59,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{59,129}}</string>
                <key>sourceSize</key>
                <string>{75,129}</string>
            </dict>
            <key>hero1_move_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,407},{71,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,128}}</string>
                <key>sourceSize</key>
                <string>{75,128}</string>
            </dict>
            <key>hero1_move_r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,269},{65,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,129}}</string>
                <key>sourceSize</key>
                <string>{75,129}</string>
            </dict>
            <key>hero1_move_r15.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{63,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,130}}</string>
                <key>sourceSize</key>
                <string>{75,130}</string>
            </dict>
            <key>hero1_move_r16.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{59,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{59,132}}</string>
                <key>sourceSize</key>
                <string>{75,132}</string>
            </dict>
            <key>hero1_move_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{61,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{61,135}}</string>
                <key>sourceSize</key>
                <string>{75,135}</string>
            </dict>
            <key>hero1_move_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{61,135}}</string>
                <key>sourceSize</key>
                <string>{75,135}</string>
            </dict>
            <key>hero1_move_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{75,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,134}}</string>
                <key>sourceSize</key>
                <string>{75,134}</string>
            </dict>
            <key>hero1_move_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{73,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,134}}</string>
                <key>sourceSize</key>
                <string>{75,134}</string>
            </dict>
            <key>hero1_move_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{65,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,134}}</string>
                <key>sourceSize</key>
                <string>{75,134}</string>
            </dict>
            <key>hero1_move_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,273},{57,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{57,133}}</string>
                <key>sourceSize</key>
                <string>{75,133}</string>
            </dict>
            <key>hero1_move_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,138},{53,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{53,133}}</string>
                <key>sourceSize</key>
                <string>{75,133}</string>
            </dict>
            <key>hero1_move_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,273},{51,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{51,132}}</string>
                <key>sourceSize</key>
                <string>{75,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1_move_r.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69ad9edf2df2375a36b822283855082f:07b4e120c10be8c19d54017669d69a41:6dd0563ad9b377ae74badfce63b840e9$</string>
            <key>textureFileName</key>
            <string>hero1_move_r.png</string>
        </dict>
    </dict>
</plist>
