<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{74,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{74,152}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>hero0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,313},{76,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,152}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>hero0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,158},{74,153}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,153}}</string>
                <key>sourceSize</key>
                <string>{84,157}</string>
            </dict>
            <key>hero0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{74,154}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,154}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>hero0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{72,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{72,154}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>hero0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,157},{74,152}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{74,152}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>hero0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>hero0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,153}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,153}}</string>
                <key>sourceSize</key>
                <string>{84,157}</string>
            </dict>
            <key>hero0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,154}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,154}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>hero0_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,318},{70,154}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,154}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero0_move.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff1cc739d825e8087c3dfb070f114f93:1c0941c5e453e74284d37277df82b170:53367927dd4d851eccb17d994646fdac$</string>
            <key>textureFileName</key>
            <string>hero0_move.png</string>
        </dict>
    </dict>
</plist>
